
<div class="mdl-grid">

<div class="mdl-cell mdl-cell--1-col">
<h2>Bookmarks
</h2>
  </div>
<div class="mdl-cell mdl-cell--10-col">

 <%= form_tag(search_bookmarks_path) do %>
  <div class="field">
    <%= label_tag :url %>
    <%= text_field_tag :bquery, @bquery, size: 80 %>
  <%= submit_tag("Search") %>
  </div>
<% end %>

<table id="bookmarks"  style="width:700px">
  <thead>
    <tr>
      <th >Title</th>
      <th>Url</th>
      <th >F</th>
      <th >F</th>
      <th >F</th>
      <th >F</th>
      <th >F</th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td ><%= link_to (bookmark.title||""), bookmark.url, target: '_blank' %></td>
        <td><%= link_to bookmark.url, bookmark.url, target: '_blank' %></td>
        <td> <% if bookmark.folder_id %>        
        <%= link_to material_icon.link , folder_path(bookmark.folder_id||0) %>
        <% end%>
        </td>
        <td><%= link_to material_icon.scanner.css_class('md-18'), scan_bookmark_path(bookmark) %></td>
        <td><%= link_to material_icon.search.css_class('md-18'), bookmark %></td>
        <td><%= link_to material_icon.mode_edit.css_class('md-18'), edit_bookmark_path(bookmark) %></td>
        <td><%= link_to  material_icon.delete.css_class('md-18'), bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


  </div>


<div class="mdl-cell mdl-cell--1-col">
<%= link_to material_icon.fiber_new.css_class('orange600'),new_bookmark_path %>
  </div>

