<h1>Bookmark  <i class="titleName"> <%= @bookmark.title %>  </i >

<%= link_to material_icon.fiber_new, new_bookmark_path %>
    <%= link_to material_icon.list, bookmarks_path %>
    <%= link_to  material_icon.mode_edit, edit_bookmark_path(@bookmark) %></td>
    <%= link_to  material_icon.delete, @bookmark, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to material_icon.scanner, scan_bookmark_path(@bookmark) %>

</h1>



<p id="notice"><%= notice %></p>


<p>
  <strong>Url:</strong>
  <%= link_to @bookmark.url, @bookmark.url  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bookmark.description %>
</p>

<p>
  <strong>Linked Folder:</strong>
   <% if @bookmark.folder_id %>
  <%= link_to @bookmark.folderTitle, folder_path(@bookmark.folder_id)%>
   <% end %>
</p>
