<h1>Editing Scanner</h1>

<%= render 'form', scanner: @scanner %>

<ul>
<% if @links %>
<% @links.each do |link| %>
<li>  <%=link_to link, link%>
	  <%=link_to "Match", match_scanners_path(url: link) %>
	
</li>
<% end %>
<% end %>
</ul>


<%= link_to 'Show', @scanner %> |
<%= link_to 'Back', scanners_path %>
