<p id="notice"><%= notice %></p>

<h1>Scanners</h1>


 <%= form_tag(match_scanners_path) do %>
  <div class="field">
    <%= label_tag :url %>
    <%= text_field_tag :url, @url, size: 80 %>
    <% if @bookmark_id %>
     <%= @bookmark_id %>
    <%= hidden_field_tag :bookmark_id, @bookmark_id %>
    <% end %>
  <%= submit_tag("Match") %>
  <%= submit_tag("Match and Scan") %>
  </div>
  <% if @location %>
  <div class="field">
    <%= label_tag :location %>
    <%= @location.name %> <%= @location.uri %>
    <%= hidden_field_tag "location_id", @location.id %>
  <%= submit_tag("Match and Scan") %>
  </div>
  <%end %>
<% end %>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Example URL</th>
      <th>Match</th>
      <th>Tag</th>
      <th>Pattern</th>
      <th>Fit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scanners.each do |scanner| %>
      <tr>
        <td><%= scanner.name %></td>
        <td><%= scanner.url %></td>
        <td><%= scanner.match %></td>
        <td><%= scanner.tag %></td>
        <td><%= scanner.pattern %></td>
        <td><%= scanner.final %></td>
        <td><%= scanner.matchS(@url) %></td>
        
        <td><%= link_to material_icon.scanner.css_class('md-18'), scann_scanner_path(scanner, url: @url)  %></td>
        <td><%= link_to material_icon.fiber_new.css_class('md-18'), copy_scanner_path(scanner, urlExtern: @url) %></td>
        <td><%= link_to material_icon.mode_edit.css_class('md-18'), edit_scanner_path(scanner) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scanner', new_scanner_path %>
