<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agroup.name %>
 <p>
 	<% @attris = @agroup.attris
 	for a in @attris%>
 	 <%=a.name %>
 	<%end%>
</p>

<%= link_to 'Edit', edit_agroup_path(@agroup) %> |
<%= link_to 'Back', agroups_path %>
