<%= form_for(@mfile) do |f| %>
  <% if @mfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mfile.errors.count, "error") %> prohibited this mfile from being saved:</h2>

      <ul>
      <% @mfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class= "valuepair">
 <div class="lbl">   <strong>Type </strong> </div>
<span> <%= MFILETYPE[@mfile.mtype] %> </span>
</div>

<div class= "valuepair">
 <div class="lbl">   <strong>Filenmae:</strong> </div>
<span> <%= @mfile.name %> </span>
</div>

<div class= "valuepair">
 <div class="lbl">   <strong>Folder:</strong> </div>
<span> <%= @mfile.furlder %> </span>
</div>

<div class= "valuepair">
 <div class="lbl">    <strong>Modified:</strong> </div>
<span> <%= f.datetime_local_field :modified, disabled: :disabled%> </span>
</div>

<div class= "valuepair">
 <div class="lbl">    <strong>Modified Date:</strong> </div>
<span> <%= f.date_field :mod_date, disabled: :disabled%> </span>
</div>

<% end %>
<hr>
