
<div id="thumbnailBox">
<%= form_tag(set_attris_mfiles_path, method: "post", remote: :true) do  %>

    <% @numberMfiles = @mfiles.length
       @mfiles.each do |mfile| %>
      <div id="<%=mfile.id%>" data-<%=mfile.id%>="a" class="thumbC vis <% mfile.attris.each do |attri| %> <%=attri.name%> A-<%=attri.id%> <% end %> 
             <% mfile.agroups.each do |agroup| %> <%=agroup.name%> G-<%=agroup.id%> <% end %> " 
             style="background-image: url('<%=URI.escape(mfile.path(URL_STORAGE_WEBTN), Regexp.union('\'','-',' ','(', ')'))%>')" >
        
       <div class="check"> <%= hidden_field_tag "mfile["+mfile.id.to_s+"]" %> </div>
              <div class="marker">  <i data-tooltip="Show" class="fa fa-search fa-2x"> </i></div>

             </div>
    <% end %>
    <div style="display: none">
    <%= text_field_tag "ag_id" %>
    <%= text_field_tag "AorG" %>
    <%= text_field_tag :namei, "" %>

<button id="but"> hallo </button>
    </div>
    <% end %>
    <div id="dunkel">
    </div>
</div>


<div id="classifyBox">
	<input id="thumbSize" type="range"  min="10" max="500" value="30"/>
<%= text_field_tag :name, "", data: {autocomplete_source: autocomplete_attris_path}, autofocus: :autofocus, size: 28%>

<button id="setIt" >  <i class="material-icons md-18">check_circle</i> </button>
<p>
<button id="hideUnselected"> <i class="material-icons md-18">visibility_off</i>   </button>
<button id="showAll">  <i class="material-icons md-18">visibility</i>  </button>
<button id="selectInvert"> <i class="material-icons md-18">loop</i>   </button>
<button id="selectAll"> <i class="material-icons md-18">zoom_out_map</i> </button>

<% 
   @agroups = Agroup.all
   
   @agroups.each do |agroup| %>
   	
   	<div class="classifyGroup">
 
          <% clname = (@numbers[agroup.id] == @mfiles.count)?"agroup_no":"agroup_no" %>
      	
    	   <div class='<%=clname%> selAtgr' id='<%=agroup.id%>' alt="blalbal" >
    	       <div class='balken' style='width: <%=((@numbers[agroup.id]||0)*100)/@numberMfiles%>%'> <%= agroup.name %> </div>  
           </div>   <!-- <div class='number'><%= @numbers[agroup.id] %></div> -->
       
   <%  @attris.each do |attri| %>
      <% if attri.agroup_id == agroup.id%>
        <div class='attribute selAtgr' id='<%=attri.id%>'><%=attri.name %>  

          </div>
      <%end %>  
   <% end %>
 
   </div>
 
 <% end %>
</div>

<div id="overlayPic">
    <div id="bildCont">   </div>
	<div id="bildAttris"> </div>
	
	<div id="bildNext"> <i data-tooltip="Next" class="fa fa-chevron-right fa-3x"> </i> </div>
	<div id="bildPrev"> <i data-tooltip="Prev" class="fa fa-chevron-left fa-3x"> </i> </div>
	
</div>
