

<div style="float: left; width:400px;">
	<h1>Mfile edit</h1>
<%= render 'form' %>
<%= render :partial => 'shared/assign_attris' %>
<%= render :partial => 'shared/folder_attris' %>
</div >

<%= render 'showPic'%>


<%= link_to 'Show', @mfile %> |
<%= link_to 'Back', mfiles_path %>
