<%= form_for(@mfile) do |f| %>
  <% if @mfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mfile.errors.count, "error") %> prohibited this mfile from being saved:</h2>

      <ul>
      <% @mfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :folder_id %><br>
    <%= f.number_field :folder_id %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :modified %><br>
    <%= f.datetime_local_field :modified %>
  </div>
  <div class="field">
    <%= f.label :mod_date %><br>
    <%= f.date_field :mod_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
