    <% @mfiles.each do |mfile| %>
      $inp = $('#<%=mfile.id%>');
      <%  if @myn[mfile.id] == 0 %>         
         $inp.removeClass('<%=@name1%>');     
         $inp.removeClass('<%=@name2%>'); 
      <% end %>   
    
       <%  if @myn[mfile.id] == 1 %>         
           $inp.addClass('<%=@name1%>');
           $inp.addClass('<%=@name2%>');
      <% end %>
    <%end%>
    $('#<%=@balken%> .balken').css({"width": "<%=(@count*100)/@mfiles.length%>%"});
    <%  if @attri %>        
        $(" <div class='attribute selAtgr' id='<%=@attri.id%>'><%=@name1 %> </div>").insertAfter(".agroup_no#<%=@name3%>");
  
    <% end %>
    $('.selAtgr').mousedown(startTimer).click(selectByAttribute)