<p id="notice"><%= notice %></p>

<p>
  <strong>Folder:</strong>
  <%= @mfile.folder_id %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @mfile.filename %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @mfile.modified %>
</p>

<p>
  <strong>Mod date:</strong>
  <%= @mfile.mod_date %>
</p>


<p>
  <strong>Web-Link</strong>
  <%= @mfile.path(URL_STORAGE_WEB) %>
</p>


<%= link_to 'Edit', edit_mfile_path(@mfile) %> |
<%= link_to 'Back', mfiles_path %>


<%=@kala%>
