<p id="notice"><%= notice %></p>


<p>
  <strong>Media Type</strong>
  <%= MFILETYPE[@mfile.mtype] %>
</p>
<p>
  <strong>Folder:</strong>
  <%= @mfile.folder_id %>
  <%= @mfile.folder.mpath + " "+ @mfile.folder.lfolder if @mfile.folder_id%>
</p>

<p>
  <strong>Filename:</strong>
  <%= @mfile.filename %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @mfile.modified %>
</p>

<p>
  <strong>Mod date:</strong>
  <%= @mfile.mod_date %>
</p>


<% if @mfile.mtype == MFILE_LOCATION %>


<p>
  <strong>Location</strong>
  <%= @mfile.location.name + " "+  @mfile.location.uri %>
</p>
<%else%>
<p>
  <strong>Web-Path</strong>
  <%= link_to @mfile.path(URL_STORAGE_WEB), @mfile.path(URL_STORAGE_WEB) %>
</p>
<%end%>

<%= link_to 'Edit', edit_mfile_path(@mfile) %> |
<%= link_to 'Back', mfiles_path %>


<%=@kala%>
