<div class="mdl-grid">

<div class="mdl-cell mdl-cell--10-col">



<%= form_tag(set_attris_mfiles_path, method: "post", remote: :true) do  %>

<div class="thumbsContainer">
    <% @mfiles.each do |mfile| %>
      <div class="thumbe" id="<%=mfile.id%>" data-<%=mfile.id%>="a" 
     	class=" <% mfile.attris.each do |attri| %> <%=attri.name%> <% end %> 
             <% mfile.agroups.each do |agroup| %> <%=agroup.name%> <% end %> " >
        
       <div class="check"> <%= hidden_field_tag "mfile["+mfile.id.to_s+"]" %> </div>

        <img src="<%=mfile.path(3)%>"> </img>
             </div>
    <% end %>
   
    <% end %>

</div>

</div>

</div>

<div id="overlayPic">
    <div id="bildCont">   </div>
    <div id="bildAttris"> </div>
    
    <div id="bildNext"> <%=material_icon.keyboard_arrow_right %></div>
    <div id="bildPrev"> <%=material_icon.keyboard_arrow_left %></div>
    
</div>
