<h1>Listing folders</h1>

<table>
  <thead>
    <tr>
      <th>Storage</th>
      <th>Mpath</th>
            <th>Path</th> 
      <th>Lfolder</th>
      <th>Mfile</th>
     <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td><%= folder.storage_id %></td>
        <td><%= folder.mpath %></td>
                <td><%= folder.path(1) %></td>
        <td><%= folder.lfolder %></td>
        <td><%= folder.mfile_id %></td>
        <td><%= link_to 'Show', folder %></td>
        <td><%= link_to 'Edit', edit_folder_path(folder) %></td>
        <td><%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folder', new_folder_path %>
