<h1>Folders</h1>

<table>
  <thead>
    <tr>
      <th>Storage </th>
      <th>Title</th>
      <th>Mpath</th>
      <th>Anzahl </th>

      <% @agroups.each do |agroup|%>
      <th><%=agroup.name%></th>
      <%end%>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>

        <td><%= folder.storage.name%> </td>
       <td><%= folder.title %></td>
        
        <td><%= folder.mpath + " " + folder.lfolder%></td>
                      

        <td><%= @numbers[folder.id] %></td>


     
        <% @agroups.each do |agroup|%>
        <% a = [folder.id,agroup.id] %>
        <th><%=(@numbersa[a]?@numbersa[a]*100/@numbers[folder.id]:0)%></th>
        <%end%>
         
        <td><%= link_to material_icon.search.css_class('md-18'), folder %></td>
        <td><%= link_to material_icon.delete.css_class('md-18'), folder , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br>




<%= link_to 'Index to Edit', indexedit_folders_path, method: :patch %>
