<p id="notice"><%= notice %></p>


<div class="mdl-grid">

<div class="mdl-cell mdl-cell--1-col">
<h2>
Folder

</h2>
</div>


<div class="mdl-cell mdl-cell--9-col">

<h1>  <i class="titleName">   <%= @folder.title %>
  </i > 
</h1>



<div class= "valuepair">
 <div class="lbl">
  <strong>Path:</strong>
  </div>
<span> <%= @folder.mpath %> <%= @folder.lfolder %> </span>
</div>


<div class= "valuepair">
 <div class="lbl">
    Storage
  </div>
  <%= link_to @folder.storage.name, edit_storage_path(@folder.storage) %>
</div>


<div class= "valuepair">
 <div class="lbl">
  <strong>Orgin Bookmark:</strong>
  </div>
  <%=  (bm=@folder.bookmark) ? bm.url : "No Bookmark" %>
</div>
<p> 
<div class= "valuepair">
 <div class="lbl">
    Web Path:
  </div>
    <%=  @folder.path(1) %>
<%= form_tag(copyFiles_folder_path(@folder) )  do %>
<% end %>
</div>

<div class= "valuepair">
 <div class="lbl">
  <strong>Filesystem:</strong>
  </div>
  <%= link_to  @folder.path(2), ls_location_path(@folder.storage.location(2), dir: @folder.rpath) %>
</div>

<div class= "valuepair">
 <div class="lbl">
<strong>Web TNs Path:</strong>
  </div>
  <%= @folder.path(3) %>
</div>

<div class= "valuepair">
 <div class="lbl">
<strong>FS TNs Path:</strong>
  </div>
  <%= @folder.path(4) %>
</div>

<div class= "valuepair">
 <div class="lbl">
  <strong>Orgin Path:</strong>
  </div>
  <%= @folder.originPath %>
</div>

<div style="overflow:auto;height:200px">
<%= @n %>
<%= render 'shared/mfiles' %>

</div>

</div>

<div class="mdl-cell mdl-cell--2-col">
<h1>

    <%= link_to material_icon.list, folders_path %>
    <%= link_to material_icon.edit, edit_folder_path %>
    <% if @bookmark %>
       <%= link_to material_icon.bookmark, (bookmark_path(@bookmark)) %>
    <% end %>
    <%= link_to material_icon.chevron_left, folder_path(@folder, typ: :prev) %>
    <%= link_to material_icon.chevron_right, folder_path(@folder, typ: :next) %>

</h1>

<%= form_tag(copyFiles_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    <%= hidden_field_tag :typ, 2 %>
    <%= hidden_field_tag :dlm, 2 %>
    
    <%= submit_tag "DL files from Origin to active File-System"%>
</div>
<% end %>

<%= form_tag(copyFiles_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    <%= hidden_field_tag :typ, 2 %>
    <%= hidden_field_tag :dlm, 0 %>
    
    <%= submit_tag "direct-DL files from Origin to active File-System"%>
</div>
<% end %>



<%= form_tag(copyFiles_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    <%= hidden_field_tag :typ, 4 %>
    
    <%= submit_tag "Make Thumbnails from active Webserver to active TN-Fileserver"%>
</div>
<% end %>


<%= form_tag(generateTNs_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    
    <%= submit_tag "Generate Thumbnails"%>
</div>
<% end %>

<%= form_tag(copyFiles_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    <%= hidden_field_tag :typ, 1 %>
    
    <%= submit_tag "Download files from Origin to active Web-Server"%>
</div>
<% end %>

<%= form_tag(copyFiles_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    <%= hidden_field_tag :typ, 3 %>
    
    <%= submit_tag "Make Thumbnails from active Webserver to active TN-Webserver"%>
</div>
<% end %>

<%= form_tag(checkForVideoFiles_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    <%= hidden_field_tag :typ, 2 %>
    
    <%= submit_tag "check for Video Files"%>
</div>
<% end %>


</div>
</div>

