<h1>Folder  <i class="titleName">   <%= @folder.title %>
  </i > 
    <%= link_to material_icon.list, folders_path %>
    <%= link_to material_icon.edit, edit_folder_path %>
    <% if @bookmark %>
       <%= link_to material_icon.bookmark, bookmark_path(@bookmark) %>
    <% end %>
    <%= link_to material_icon.chevron_left, folder_path(@folder, typ: :prev) %>
    <%= link_to material_icon.chevron_right, folder_path(@folder, typ: :next) %>

</h1>


<p id="notice"><%= notice %></p>

<div class= "valuepair">
 <div class="lbl">
  <strong>Path:</strong>
  </div>
<span> <%= @folder.mpath %> <%= @folder.lfolder %> </span>
</div>


<div class= "valuepair">
 <div class="lbl">
    Storage
  </div>
  <%= link_to @folder.storage.name, edit_storage_path(@folder.storage) %>
</div>

<div class= "valuepair">
 <div class="lbl">
  <strong>Orgin Path:</strong>
  </div>
  <%= @folder.originPath %>
</div>

<div class= "valuepair">
 <div class="lbl">
  <strong>Orgin Bookmark:</strong>
  </div>
  <%=  (bm=@folder.bookmark) ? bm.url : "No Bookmark" %>
</div>
<p> 
<div class= "valuepair">
 <div class="lbl">
    Web Path:
  </div>
    <%=  @folder.path(1) %>
<%= form_tag(copyFiles_folder_path(@folder) )  do %>
<% end %>
</div>

<div class= "valuepair">
 <div class="lbl">
  <strong>Filesystem:</strong>
  </div>
  <%= @folder.path(2) %>
</div>

<div class= "valuepair">
 <div class="lbl">
<strong>Web TNs Path:</strong>
  </div>
  <%= @folder.path(3) %>
</div>

<div class= "valuepair">
 <div class="lbl">
<strong>FS TNs Path:</strong>
  </div>
  <%= @folder.path(4) %>
</div>
<hr>

<%= form_tag(copyFiles_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    <%= hidden_field_tag :typ, 2 %>
    
    <%= submit_tag "Download files from Origin to active File-System"%>
</div>
<% end %>

<%= form_tag(copyFiles_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    <%= hidden_field_tag :typ, 4 %>
    
    <%= submit_tag "Make Thumbnails from active Webserver to active TN-Fileserver"%>
</div>
<% end %>


<%= form_tag(generateTNs_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    
    <%= submit_tag "Generate Thumbnails"%>
</div>
<% end %>

<%= form_tag(copyFiles_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    <%= hidden_field_tag :typ, 1 %>
    
    <%= submit_tag "Download files from Origin to active Web-Server"%>
</div>
<% end %>

<%= form_tag(copyFiles_folder_path(@folder) )  do %>

  <div class="actions">
    <%= hidden_field_tag :folder_id, {value: @folder.id} %>
    <%= hidden_field_tag :typ, 3 %>
    
    <%= submit_tag "Make Thumbnails from active Webserver to active TN-Webserver"%>
</div>
<% end %>


<%= render 'shared/mfiles' %>

<% @mfiles.each do |mfile| %>
      <div class="thumbD" id="<%=mfile.id%>" data-<%=mfile.id%>="a" 
     	class=" <% mfile.attris.each do |attri| %> <%=attri.name%> <% end %> 
             <% mfile.agroups.each do |agroup| %> <%=agroup.name%> <% end %> " >


<%= mfile.folder_id %>
        <%= mfile.filename %>

    <% end %>


