<%= form_for(@mtype) do |f| %>
  <% if @mtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mtype.errors.count, "error") %> prohibited this mtype from being saved:</h2>

      <ul>
      <% @mtype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :icon %><br>
    <%= f.text_field :icon %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :has_file %><br>
    <%= f.check_box :has_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
