<h1>Folders</h1>

<table>
  <thead>
    <tr>
      <th>Storage </th>
      <th>Title</th>
      <th>Mpath</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>

        <td><%= folder.storage.name%> </td>
       <td><%= folder.title %></td>
        <td><%= folder.mpath + " " + folder.lfolder%></td>
        <td><%= link_to material_icon.search.css_class('md-18'), folder %></td>
        <td><%= link_to material_icon.delete.css_class('md-18'), folder , method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>
  </tbody>
</table>

<br>
