<h2>Folders</h2>

<table>
  <thead>
    <tr>
      <th>Mpath</th>
      <th>Name</th>
           <th>Storage Id</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>

        <td><%= folder.mpath %></td>
        
        <td><%= folder.lfolder %></td>
                    <td><%= folder.storage_id%> </td>

         
        <td><%= link_to 'Show', folder %> </td>
        <td><%= link_to 'Destroy', folder , method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br>
