<%= form_for(@storage) do |f| %>
  <% if @storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storage.errors.count, "error") %> prohibited this storage from being saved:</h2>

      <ul>
      <% @storage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class= "fieldbox">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name,  size: 100%>
  </div>

</div>

<table>
  <tr>
    <th>Typ</th>
   <th> Name</th>
   <th>Uri</th>
   <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storage.locations.order(:typ).each do |location| %>
  <tr>
        <td><%= TYPPP[location.typ] %></td>
        <td><%= link_to location.name, edit_location_path(location)%></td>
       <td><%= location.uri %></td>
       <td>  <%= radio_button_tag "typ["+location.typ.to_s+"]", location.id.to_s ,location.inuse %> </td>
       <td> <div id="<%=location.id%>" class="analyzeFiles" data-url='/locations/<%=location.id%>/analyzeFiles'> Analyze Files </div> </td>
  </tr>
<% end %>

</table>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>

 <% if @storage.id%>
 
    <%= form_tag touchMfiles_storage_path(@storage), method: "post"  do %>

       <%= submit_tag("Touch Mfiles in this Storage") %>
    <% end %>
 <% end %>
    