<%= form_for(@storage) do |f| %>
  <% if @storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@storage.errors.count, "error") %> prohibited this storage from being saved:</h2>

      <ul>
      <% @storage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<%= submit_tag value="save", class: "buttonForm" %>

  <span class='clink'>
<%= link_to 'Show', @storage %> |
<%= link_to 'List', storages_path %>
    </span>

    
 <p>
<div class= "fieldbox">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name,  size: 100%>
  </div>




<table>
  <tr>
   <th></th>
   <th> Name</th>
   <th>Uri</th>
       <th>Typ</th>
   <th><i class="fa fa-toggle-on lg"> </i>  </th>

  </tr>

<% @storage.locations.order(:typ).each do |location| %>
  <tr> 
        
        <td><%= link_to fa_icon("plus-circle") , new_location_path(:id => location.id)%></td>
        <td><%= link_to location.name, edit_location_path(location)%></td>
       <td><%= location.uri %></td>
       <td><%= TYPPP[location.typ] %></td>
       <td>  <%= radio_button_tag "typ["+location.typ.to_s+"]", location.id.to_s ,location.inuse %> </td>
       <td> <div  class="processFiles" data-url='/locations/<%=location.id%>/analyzeFiles'> <%= fa_icon("info lg ", "data-tooltip" => "Show Infos")  %></div> </td>
       <td> <div  class="processFiles" data-url='/locations/<%=location.id%>/deleteFiles'> <%= fa_icon("trash lg") if !location.inuse and location.isFS? %> </div> </td>
       <td> <div  class="processFiles" data-url='/locations/<%=location.id%>/copyToFiles' title="aa"> <%= fa_icon("copy lg") if location.copyAllowedTo?%></div> </td>
       <td> <div  class="processFiles" data-url='/locations/<%=location.id%>/downloadToFiles'> <%= fa_icon("cloud-download lg", "data-tooltip" => "Download from the checked WebStorage") if location.downloadAllowedTo?%></div> </td>
       
  </tr>
<% end %>
</table>
  
  </div>
  <p>
  	
  <span class='clink'>
  <%= link_to "new location" , new_location_path(:storage_id => @storage.id) %>
  </span>
  
<% end %>

 <% if @storage.id%>
 

    <p>
    <%= form_tag generateTNs_storage_path(@storage), method: "post"  do %>
    
       <%= submit_tag value="Generate Thumbnails from internal Picture Thumbnails", class: "buttonForm" %>
       <p>
       
       <%= submit_tag value="Generate Thumbnails by Area", class: "buttonForm" %>
       <%= text_field_tag :area, value="20000"%>

    <% end %>
    
 <% end %>
    