<div class="mdl-grid">

<div class="mdl-cell mdl-cell--1-col">
<h1>
llll  lj l jl l l ll ll 

<%= link_to 'Show', @storage %> 
<%= link_to 'List', storages_path %>

</h1>
<p id="notice"><%= notice %></p>

</div>

<div class="mdl-cell mdl-cell--8-col">


<h1>Storage</h1>
<%= render 'form' %>



  <% if false%>
  <%= link_to 'Detect Files and Folders', detectFaFs_storage_path(@storage) %>
<p>
  <%= link_to 'Detect Folders', detectfolders_storage_path(@storage) %>
  <%= link_to 'Detect Files', detectfiles_storage_path(@storage) %>
   <%= link_to 'Make Thumbnails', make_thumbnails_storage_path(@storage) %>


  <%end%>
    <%= form_tag touchMfiles_storage_path(@storage), method: "post"  do %>

       <%= submit_tag("Set Dates of Mfiles in this Storage", class: "buttonForm") %>
    <% end %>
</div>
</div>