<h1>Storages


<%= link_to material_icon.fiber_new, new_storage_path %>

</h1>

<p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storages.each do |storage| %>
  <tr>
    <td><%= storage.name %></td>
    <td><%= link_to material_icon.search, storage %></td>
    <td><%= link_to material_icon.mode_edit, edit_storage_path(storage) %></td>
    <td><%= link_to material_icon.delete, storage, data: { confirm: 'Are you sure?'}, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />



link_to 'New Storage', new_storage_path, class: 'clink'
