<div class="mdl-grid">

<div class="mdl-cell mdl-cell--1-col">
<h1>
<span><%= link_to material_icon.fiber_new, new_storage_path %> </span>
<span><%= link_to material_icon.fiber_new, new_storage_path %> </span>
<span><%= link_to material_icon.fiber_new, new_storage_path %> </span>
<span><%= link_to material_icon.fiber_new, new_storage_path %> </span>
</h1>
</div>


<div class="mdl-cell mdl-cell--10-col">

<h1>Storages

</h1>

<p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storages.each do |storage| %>
  <tr>
    <td><%= storage.name %></td>
    <td><%= link_to material_icon.search, storage %></td>
    <td><%= link_to material_icon.mode_edit, edit_storage_path(storage) %></td>
    <td><%= link_to material_icon.delete, storage, data: { confirm: 'Are you sure?'}, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />


</div>

</div>
