<h1>Storages</h1>



<%= link_to 'New Storage', new_storage_path, class: 'clink' %>
<p>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @storages.each do |storage| %>
  <tr>
    <td><%= storage.name %></td>
    <td><%= link_to fa_icon("folder-open "), storage %></td>
    <td><%= link_to fa_icon("pencil lg"), edit_storage_path(storage) %></td>
    <td><%= link_to fa_icon("trash lg"), storage, data: { confirm: 'Are you sure?'}, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
