

<p id="notice"><%= notice %></p>

<h1> Storage   <i class="titleName"><%= @storage.name %> </i>
</h1>


  <span class='clink'>
  	<%= link_to 'Edit', edit_storage_path(@storage) %> |
    <%= link_to 'Back', storages_path %>
  </span>

    <%= form_tag touchMfiles_storage_path(@storage), method: "post"  do %>

       <%= submit_tag("Set Dates of Mfiles in this Storage", class: "buttonForm") %>
    <% end %>

<% @f.each do |fe|%> 
   <%=fe[0].folder.title%>
	<% fe.each do |g| %>
	<div style="padding-left: 3em ">
		<%= g.folder.mpath.to_s + " " + g.folder.lfolder.to_s+ " "+ g.filename %>
    </div>
    <% end %>
<% end %>

<div class="fbox">
<%= render 'shared/folders' %>
</div>

<div class="fbox">
<%= render 'shared/mfiles' %>
</div>








