
<p id="notice"><%= notice %></p>

<h1> Storage   <i class="titleName"><%= @storage.name %> </i>

    <%= link_to material_icon.fiber_new, new_storage_path %>
    <%= link_to material_icon.list, storages_path %>
    <%= link_to  material_icon.mode_edit, edit_storage_path(@storage) %></td>
    <%= link_to  material_icon.delete, @folder, method: :delete, data: { confirm: 'Are you sure?' } %>

</h1>


<div class="fbox">
<%= render 'shared/folders' %>
</div>

<div class="fbox">
<%= render 'shared/mfiles' %>
</div>

<% @f.each do |fe|%> 
   <%=fe[0].folder.title%>
  <% fe.each do |g| %>
  <div style="padding-left: 3em ">
    <%= g.folder.mpath.to_s + " " + g.folder.lfolder.to_s+ " "+ g.filename %>
    </div>
    <% end %>
<% end %>







