<%= form_for(@location) do |f| %>
<% if @location.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

	<ul>
		<% @location.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>




  
<div class= "fieldbox">

<%= submit_tag value="Save", class: "buttonForm" %>

<div class="field">
	<%= f.label :name%>
	
	<%= f.text_field :name, size: 80 %>
</div>

<div class="field">
	<%= f.label :uri %>

	<%= f.text_field :uri, size: 80%> 	<span id="aval">  site </span>
</div> 
<div class="field">
	<%= f.label :description %>

	<%= f.text_field :description, size: 80%>
</div>


<div class="field">
	<%= f.label "Typ" %>

	<% i = -1 %>
	<%= f.select :typ,
	TYPPP.map {|l| [l, i+=1]} %>

</div>


<div class="storagefields">

<div class="field">
	<%= f.label :storage %>
	<%= f.select :storage_id,
	Storage.all.map {|l| [l.name, l.id]},
	prompt: "Bitte wählen" %>

		<%= f.submit "unassign"%>

</div>

<div class="field">
	<%= f.label :inuse %>
	<%= f.check_box :inuse %>
</div>

<div class="field">
	<%= f.label :origin %>
	<%= f.check_box :origin %>
</div>



<div class="field">
	<%= f.label "Thumbnail_Prefix" %>

	<%= f.text_field :prefix %>

</div>
		<%= submit_tag value="Save and go to Storage", class: "buttonForm" %>
</div>
</div>
<% end %>
