<%= form_for(@location) do |f| %>
<% if @location.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

	<ul>
		<% @location.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<%= f.label :name%>
	<br>
	<%= f.text_field :name, size: 100 %>
</div>
<div class="field">
	<%= f.label :uri %>
	<br>
	<%= f.text_field :uri, size: 100%>
</div>
<div class="field">
	<%= f.label :description %>
	<br>
	<%= f.text_field :description, size: 100%>
</div>


<div class="field">
	<%= f.label "Typ" %>
	<br>
	<% i = -1 %>
	<%= f.select :typ,
	TYPPP.map {|l| [l, i+=1]} %>
</div>

<div class="storagefields">

<div class="field">
	<%= f.label :storage %>
	<br>
	<%= f.select :storage_id,
	Storage.all.map {|l| [l.name, l.id]},
	prompt: "Bitte wählen" %>

	<div class="actions">
		<%= f.submit "unassign"%>
	</div>
</div>

<div class="field">
	<%= f.label :inuse %>
	<br>
	<%= f.check_box :inuse %>
</div>

<div class="field">
	<%= f.label "Thumbnail_Prefix" %>
	<br>
	<%= f.text_field :prefix %>
</div>
</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>
