<div class="locationNet">
	

	<button class="getTitle" id=<%=@location.id%>>
		Get Title </button>
		
   <%= form_tag parse_location_path(@location), method: "get"  do %>
       <%= submit_tag("Get Content") %>
    <% end %>
	
    <%= form_tag gswl_location_path(@location), method: "post"  do %>

       <%= submit_tag("Genarate Storage with Location") %>
    <% end %>

   <%= link_to "Scan Physical Content", "scan" %>
    
</div>
