<h1>Location <%= link_to material_icon.fiber_new, new_location_path %>
	<%= link_to material_icon.search, @location %> 
    <%= link_to material_icon.list, locations_path %>
	
</h1>

<%= render 'form' %>

<%= render 'net' %>

<%= render :partial => 'shared/assign_attris' %>


