<h1>Locations</h1>


<%= link_to 'New Location', new_location_path %>

<table>
  <thead>
    <tr>
      <th>Typ</th>
      <th>Location Name</th>

      <th> Storage</th>
        <th></th>    
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>

        <td><%= TYPPP[location.typ] %></td>
        <td><%= link_to location.name, location.uri, :target => '_blank'%></td>

        <td><%= (a=location.storage)? a.name : "" %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

