<h1>Locations  <%= link_to material_icon.fiber_new, new_location_path %> </h1>

<%= link_to material_icon.fiber_new.css_class('orange600'), new_location_path %>
<p>

<table>
  <thead>
    <tr>
      <th>Typ</th>
      <th>Location Name</th>
      <th> URI</th> 
      <th> Storage</th> 
    </tr>
  </thead>
  <tbody>
    <% @locations.each do |location| %>
      <tr>

        <td><%= TYPPP[location.typ] %></td>
        <td><%= link_to location.name, location.uri, :target => '_blank'%></td>
        <td><%=  location.uri %></td>

        <td><%= (a=location.storage)? a.name : "" %></td>
        <td><%= link_to  material_icon.search, location %></td>
        <td><%= link_to  material_icon.mode_edit, edit_location_path(location) %></td>
        <td><%= link_to  material_icon.delete, location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Button
</button>
