<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Uri:</strong>
  <%= link_to @location.uri, @location.uri, target: :ne, data: 3 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Typ:</strong>
  <%= TYPPP[@location.typ] %>
</p>

<p>
  <strong>Storge_id</strong>
  <%= (a=@location.storage)? a.name : ""%>
</p>


<p>
  <strong>Mfile_id</strong>
  <%= (a=@location.mfile)? a.id : ""%>
</p>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
