<!DOCTYPE html>
<html>
<head>
  <title>PMC4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

		<div id='menu'>
			<ul><li class="menu"><%= link_to 'Attribute-Groups', agroups_path%></li>
				<li class="menu"><%= link_to 'Locations', locations_path%> </li>
				<li class="menu"><%= link_to 'Bookmarks', bookmarks_path%> </li>
				<li class="menu"><%= link_to 'Storages', storages_path%></li>
			
	<li class="menu">
			<%= link_to 'Folders', folders_path%> 
<li class="menu">
		<li class="menu">	<%= link_to 'Thumbs (Attr)', thumbs_mfiles_path+"?typ=attribute"%> 
			<li class="menu">
			<%= link_to 'Classify (Attr)', classify_mfiles_path+"?typ=attribute"%> |
		<li class="menu">	Folder:
		<li class="menu"> <%= link_to session[:selectedFolder]||"x", folder_path(session[:selectedFolder]||"x") %> 
		<li class="menu">	<%= link_to 'Pics', thumbs_mfiles_path+"?typ=folder"%>
		<li class="menu"> <%= link_to 'Classify', classify_mfiles_path+"?typ=folder"%> 

		<li class="menu">	<%= link_to 'Next', classify_mfiles_path+"?typ=nextFolder"%> 
			</ul> 
		</div>
		
		
	
	<button id="menu-speed" class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>
<ul class="mdl-menu mdl-js-menu" for="menu-speed">
  <li class="mdl-menu__item"><%= link_to 'Attributes', attris_path%> </li>
  <li class="mdl-menu__item">Medium</li>
  <li class="mdl-menu__item">Slow</li>
</ul>

<div class="main">
		<%= yield %>
		
        </div>
</body> 
</html>
