<!DOCTYPE html>
<html>
<head>
  <title>PMC4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
		<div id='menu'>
			Menue


			<%= link_to 'Attributes', attris_path%>
			<%= link_to 'Attribute-Groups', agroups_path%>
			<%= link_to 'Locations', locations_path%>
			<%= link_to 'Storages', storages_path%>
			<%= link_to 'Folders', folders_path%>
			<%= link_to 'Classify (Attr)', classify_mfiles_path+"?typ=attribute"%>
			<%= link_to 'Classify(Folder)', classify_mfiles_path+"?typ=folder"%>

		</div>

		<%= yield %>

</body> 
</html>
