<!DOCTYPE html>
<html>
<head>
  <title>PMC4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% folder_id = (session[:selectedFolder] || "").to_s %>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header " >
	<header class="mdl-layout__header mdl-layout__header-scroll">
       <div class="mdl-layout__header-row" >
         	<button id="menu-speed" class="mdl-button mdl-js-button mdl-button--icon">
               <i class="material-icons">more_vert</i>
             </button>
       <span class="mdl-layout-title">PMC4</span>
       <div class="mdl-layout-spacer"></div>
       <nav class="mdl-navigation" >
         <a class="mdl-navigation__link" href="<%=agroups_path%>" > Agroups </a>
         <a class="mdl-navigation__link" href="<%=bookmarks_path%>" > Bookmarks </a>
         <a class="mdl-navigation__link" href="<%=thumbs_mfiles_path(typ: :attribute)%>" > Thumbs (A) </a>
         <a class="mdl-navigation__link" href="<%=classify_mfiles_path(typ: :attribute)%>" > Classify (A) </a>

         <a class="mdl-navigation__link" href="<%=folders_path%>" > Folders</a>
         <a class="mdl-navigation__link" href="<%=thumbs_mfiles_path(typ: :folder,folder_id: folder_id)%>" > Pics </a>
         <a class="mdl-navigation__link" href="<%=classify_mfiles_path+"?typ=folder&folder_id="+folder_id%>" > Classify </a>
         <a class="mdl-navigation__link" href="<%=classify_mfiles_path(typ: :nextFolder,folder_id: folder_id) %>" > Next </a>
         <div class="menu_folder_title" >
         <a href="<%=folder_path(session[:selectedFolder]||'x') %>" > 
         		<%=session[:selectedFolderTitle]||'x' %> </a>
         </div>
       </nav>  
       </div>

	</header>


<ul class="mdl-menu mdl-js-menu" for="menu-speed">
  <li class="mdl-menu__item"><%= link_to 'Attributes', attris_path%> </li>
  <li class="mdl-menu__item"><%= link_to 'Locations', locations_path%> </li>
  <li class="mdl-menu__item"><%= link_to 'Storages', storages_path%> </li>
  <li class="mdl-menu__item"><%= link_to 'download wget', 'http://192.168.178.81:3001/bdl'%></li>
  <li class="mdl-menu__item"><%= link_to 'download ruby', 'http://192.168.178.81:3001/rubydl'%></li>
  <li class="mdl-menu__item"><%= link_to 'download staus', 'http://192.168.178.81:3001/status'%></li>
  <li class="mdl-menu__item">Slow</li>
</ul>

   <main class="mdl-layout--content">

		<%= yield %>
</main>
</div>


</body>
</html>
