<h1>Listing parsed links</h1>

<table>
  <thead>
    <tr>
      <th>Uri</th>
      <th>Location</th>      
      <th>Complete Path </th>      
      <th>Path</th>
      <th>Lfolder</th>
      <th>Name</th>    
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>  
       <td><%= link_to link[0].first(30), link[0] %></td>
       <td><%= link[1] %></td>
       <td ><%= link[2]%></td>
        <td ><%= link[3]%></td>
       <td ><%= link[4]%></td>
              <td ><%= link[5]%></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>
